.body {
    display: flex;
    flex-direction: column;
}

.pic {
    background: grey;
    width: 200px;
    height: 140px;
    border: 2px;
}

.Header {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.words {
    display: flex;
    justify-content: space-evenly;
}

.top {
    display: flex;
    justify-content: space-evenly;
}

.random {
    text-align: center;
}

.boxes {
    display: flex
}

.blue {
    background-color: blue;
    width: 50px;
    height: 50px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.QuoteBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Thor {
   margin-left: 100px;
}

.Sign  {
    display: flex;
    justify-content: space-evenly;    
}

.Footer {
    text-align: center;
}